<% include ./partials/header.ejs %>

<!--
<div class="row">
	<div class= "hex" id= "a"></div>
	<div class= "hex" id= "b"></div>
</div>
<div class="row even">
	<div class= "hex" id= "c"></div>
	<div class= "hex" id= "d"></div>
	<div class= "hex" id= "e"></div>
</div>
<div class="row">
	<div class= "hex" id= "f"></div>
	<div class= "hex" id= "g"></div>
	<div class= "hex" id= "h"></div>
	<div class= "hex" id= "i"></div>
</div>
<div class="row even">
	<div class= "hex" id= "j"></div>
	<div class= "hex" id= "k"></div>
	<div class= "hex" id= "l"></div>
</div>
<div class="row">
	<div class= "hex" id= "m"></div>
	<div class= "hex" id= "n"></div>
</div>
-->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">About</div>
				<div class="panel-body">
					Three wolf moon typewriter helvetica, pinterest snackwave hashtag flexitarian freegan raclette jianbing chambray la croix cred bushwick pug. Marfa hammock banh mi pickled green juice. Brunch hammock la croix, kickstarter butcher tattooed four dollar toast organic poke sartorial pitchfork narwhal post-ironic prism man braid. Quinoa VHS mustache mlkshk green juice, single-origin coffee locavore you probably haven't heard of them tofu polaroid semiotics glossier.
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer.ejs %>