<% include ./partials/header.ejs %>

<!-- hexagon pattern on homepage -->
<div class="row odd">
	<div class= "hex" id= "a"></div>
	<div class= "hex" id= "b"></div>
	<div class= "hex" id= "o"></div>
	<div class= "hex" id= "p"></div>
	<div class= "hex" id= "q"></div>
	<div class= "hex" id= "d"></div>
</div>
<div class="row even">
	<div class= "hex" id= "k"></div>
	<div class= "hex" id= "r"></div>
	<div class= "hex" id= "e"></div>
	<div class= "hex" id= "s"></div>
	<div class= "hex" id= "t"></div>
</div>
<div class="row odd">
	<div class= "hex" id= "f"></div>
	<div class= "hex" id= "g"></div>
	<div class= "hex" id= "h"></div>
	<div class= "hex" id= "i"></div>
	<div class= "hex" id= "u"></div>
	<div class= "hex" id= "v"></div>
</div>
<div class="row even">
	<div class= "hex" id= "j"></div>
	<div class= "hex" id= "c"></div>
	<div class= "hex" id= "l"></div>
	<div class= "hex" id= "w"></div>
	<div class= "hex" id= "x"></div>
</div>
<div class="row odd">
	<div class= "hex" id= "m"></div>
	<div class= "hex" id= "n"></div>
	<div class= "hex" id= "y"></div>
	<div class= "hex" id= "z"></div>
	<div class= "hex" id= "aa"></div>
	<div class= "hex" id= "bb"></div>
</div>

<!-- about container -->
<div class="container-fluid about">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading bolder">About</div>
				<div class="panel-body">
					When our class was tasked with creating a website that communicates with a third party API, I instantly knew I'd be working with the Phish.net API.
					The goal of this site is to allow users to create a digital logbook of all of the shows and songs you've been a part of. Though the memories will fade (if they were ever there in the first place), you can always lean on this site to relive 'em! 
					None of this would be possibile without the awesome resource of Phish.net.
					Thanks for visiting the site!
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer.ejs %>