<% include ./partials/header.ejs %>

<!-- content for myshows page -->
<div class= "uno">

	<p class="date">9/3/16</p>

	<p class="venue">Dicks Sporting Goods Park</p>

	<p class= "city">Commerce City, CO</p>

	<p>Soundcheck: Dogs Stole Things, My Soul</p>

	<p><mark>SET 1:</mark> Slave to the Traffic Light, Down with Disease, What's the Use? > Maze, Farmhouse, 555, Wolfman's Brother, Divided Sky > Rock and Roll</p>

	<p><mark>SET 2:</mark> Fuego > Sand > Blaze On > Simple[1] > Twist > Theme From the Bottom > Also Sprach Zarathustra > Harry Hood</p>

	<p><mark>ENCORE:</mark> The Squirming Coil[2]</p>

	<p>[1] Trey on Marimba Lumina.
	[2] With closing bass solo.</p>

	<p>This show was webcast via LivePhish. Simple featured Trey on Marimba Lumina. Squirming Coil ended with Trey, Fish, and finally Page walking off, leaving Mike to take a bass solo to finish the song for the first time in Phish history.</p><br>

	<p class= "date">8/7/15</p>

	<p class= "venue">Blossom Music Center</p>

	<p class= "city">Cuyahoga Falls, OH</p>

	<p>Soundcheck: It's Ice, Mound, The Lizards, Jam</p>

	<p><mark>SET 1:</mark> A Song I Heard the Ocean Sing, My Sweet One > Wilson > Timber (Jerry), Roses Are Free, Rift, The Moma Dance, Ginseng Sullivan, Wingsuit, It's Ice > Bathtub Gin</p>

	<p><mark>SET 2:</mark> Chalk Dust Torture [1] -> Tweezer  > The Lizards, Makisupa Policeman > Ghost > Harry Hood > Tweezer Reprise</p>

	<p><mark>ENCORE:</mark> Good Times Bad Times</p>

	<p>[1] Unfinished.</p>

	<p>This show was webcast via LivePhish. After Roses Are Free, Trey gave a call-out to Aaron Freeman and Mickey Melchiondo (aka Gene and Dean Ween), encouraging them to get Ween back together. Trey teased For the Love of Money in It's Ice, Call to the Post at the end of Bathtub Gin, and DEG in Hood. Chalk Dust was unfinished.</p><br>

	<p class= "date">7/20/14</p>

	<p class= "venue">Northerly Island</p>

	<p class= "city">Chicago, IL</p>

	<p><mark>SET 1:</mark> Gumbo > Runaway Jim, Tela, The Line, Scent of a Mule [1] > Bathtub Gin > Silent in the Morning > Maze > Ocelot > Walls of the Cave</p>

	<p><mark>SET 2:</mark> Down with Disease[2] > Winterqueen > Theme From the Bottom > Mike's Song > The Wedge , Ghost -> Weekapaug Groove, First Tube</p>

	<p><mark>ENCORE:</mark> Character Zero</p>

	<p>[1] Fish on Marimba Lumina and all four band members on Fish's drum set.
	[2] Unfinished.</p>

	<p>This show was webcast via LivePhish. Scent of a Mule featured Fish on Marimba Lumina and all four band members on Fish's drum set. Gin contained a Scent of a Mule tease by Trey. DWD was unfinished. Weekapaug contained San-Ho-Zay and Stash teases from Trey and a full-band Ghost jam.</p><br>

	<p class= "date">7/19/14</p>

	<p class= "venue">Northerly Island</p>

	<p class= "city">Chicago, IL</p>

	<p>Soundcheck: Sing Monica</p>

	<p><mark>SET 1:</mark> The Moma Dance, Wolfman's Brother, Devotion To a Dream, 46 Days, Yarmouth Road, Brian and Robert, Wingsuit, Tube > Free > Roggae, Heavy Things > Run Like an Antelope</p>

	<p><mark>SET 2:</mark> Carini -> Waves > Fuego > Twist > Light > Twenty Years Later > Harry Hood > Cavern</p>

	<p><mark>ENCORE:</mark> Grind, Bug, Suzy Greenberg</p>

	<p>This show was webcast via LivePhish. Tube and Antelope contained Smoke on the Water teases from Trey. Wingsuit was teased in Free. Page and Trey teased Dirt in Roggae. Fish quoted Istanbul (Not Constantinople) in Antelope. Trey teased The Little Drummer Boy in Fuego. Twist included Fuego and San-Ho-Zay teases from Trey. Hood and Suzy included Fuego teases from Trey.</p><br>

	<p class= "date">7/18/14</p>

	<p class= "venue">Northerly Island</p>

	<p class= "city">Chicago, IL</p>

	<p><mark>SET 1:</mark> 555, Kill Devil Falls, Bouncing Around the Room > Reba, Waiting All Night, Birds of a Feather, Halfway to the Moon > Sparkle > Sample in a Jar, A Song I Heard the Ocean Sing > Stash, The Squirming Coil</p>

	<p><mark>SET 2:</mark> Golden Age > The Mango Song, Sand -> Piper -> Halley's Comet -> Wombat > Chalk Dust Torture > Slave to the Traffic Light</p>

	<p><mark>ENCORE:</mark> Julius</p>

	<p>This show was webcast via LivePhish.</p>
</div>

<% include ./partials/footer.ejs %>