<% include ./partials/header.ejs %>

<!-- list for mysongs page -->
<div id= "songlist">

	<p><mark>&#10104;</mark> Harry Hood</p>

	<p><mark>&#10103;</mark> 555</p>
	<p><mark>&#10103;</mark> A Song I Heard the Ocean Sing</p>
	<p><mark>&#10103;</mark> Bathtub Gin</p>
	<p><mark>&#10103;</mark> Chalkdust Torture</p>
	<p><mark>&#10103;</mark> Down With Disease</p>
	<p><mark>&#10103;</mark> Fuego</p>
	<p><mark>&#10103;</mark> Ghost</p>
	<p><mark>&#10103;</mark> Maze</p>
	<p><mark>&#10103;</mark> Slave to the Traffic Light</p>
	<p><mark>&#10103;</mark> Squirming Coil</p>
	<p><mark>&#10103;</mark> The Moma Dance</p>
	<p><mark>&#10103;</mark> Theme From the Bottom</p>
	<p><mark>&#10103;</mark> Twist</p>
	<p><mark>&#10103;</mark> Wingsuit</p>
	<p><mark>&#10103;</mark> Wolfman's Brother</p>

	<p><mark>&#10102;</mark> 46 Days</p>
	<p><mark>&#10102;</mark> Also Sprach Zarathustra</p>
	<p><mark>&#10102;</mark> Birds of a Feather</p>
	<p><mark>&#10102;</mark> Blaze On</p>
	<p><mark>&#10102;</mark> Bouncing Around the Room</p>
	<p><mark>&#10102;</mark> Brian and Robert</p>
	<p><mark>&#10102;</mark> Bug</p>
	<p><mark>&#10102;</mark> Carini</p>
	<p><mark>&#10102;</mark> Cavern</p>
	<p><mark>&#10102;</mark> Character Zero</p>
	<p><mark>&#10102;</mark> Devotion to a Dream</p>
	<p><mark>&#10102;</mark> Divided Sky</p>
	<p><mark>&#10102;</mark> Farmhouse</p>
	<p><mark>&#10102;</mark> First Tube</p>
	<p><mark>&#10102;</mark> Free</p>
	<p><mark>&#10102;</mark> Ginseng Sullivan</p>
	<p><mark>&#10102;</mark> Golden Age</p>
	<p><mark>&#10102;</mark> Good Times Bad Times</p>
	<p><mark>&#10102;</mark> Grind</p>
	<p><mark>&#10102;</mark> Gumbo</p>
	<p><mark>&#10102;</mark> Halley's Comet</p>
	<p><mark>&#10102;</mark> Halfway to the Moon</p>
	<p><mark>&#10102;</mark> Heavy Things</p>
	<p><mark>&#10102;</mark> It's Ice</p>
	<p><mark>&#10102;</mark> Julius</p>
	<p><mark>&#10102;</mark> Kill Devil Falls</p>
	<p><mark>&#10102;</mark> Light</p>
	<p><mark>&#10102;</mark> Makisupa Policeman</p>
	<p><mark>&#10102;</mark> Mike's Song</p>
	<p><mark>&#10102;</mark> My Sweet One</p>
	<p><mark>&#10102;</mark> Ocelot</p>
	<p><mark>&#10102;</mark> Piper</p>
	<p><mark>&#10102;</mark> Roggae</p>
	<p><mark>&#10102;</mark> Reba</p>
	<p><mark>&#10102;</mark> Rift</p>
	<p><mark>&#10102;</mark> Rock N Roll</p>
	<p><mark>&#10102;</mark> Roses Are Free</p>
	<p><mark>&#10102;</mark> Run Like an Antelope</p>
	<p><mark>&#10102;</mark> Runaway Jim</p>
	<p><mark>&#10102;</mark> Sample</p>
	<p><mark>&#10102;</mark> Sand</p>
	<p><mark>&#10102;</mark> Scent of a Mule</p>
	<p><mark>&#10102;</mark> Silent Morning</p>
	<p><mark>&#10102;</mark> Simple</p>
	<p><mark>&#10102;</mark> Sparkle</p>
	<p><mark>&#10102;</mark> Stash</p>
	<p><mark>&#10102;</mark> Suzy Greenburg</p>
	<p><mark>&#10102;</mark> The Line</p>
	<p><mark>&#10102;</mark> The Lizards</p>
	<p><mark>&#10102;</mark> The Mango Song</p>
	<p><mark>&#10102;</mark> Tela</p>
	<p><mark>&#10102;</mark> Timber</p>
	<p><mark>&#10102;</mark> Tube</p>
	<p><mark>&#10102;</mark> Tweezer</p>
	<p><mark>&#10102;</mark> Tweezer Reprise</p>
	<p><mark>&#10102;</mark> Twenty Years Later</p>
	<p><mark>&#10102;</mark> Waiting All Night</p>
	<p><mark>&#10102;</mark> Walls of the Cave</p>
	<p><mark>&#10102;</mark> Waves</p>
	<p><mark>&#10102;</mark> Wedge</p>
	<p><mark>&#10102;</mark> Weekapaug Groove</p>
	<p><mark>&#10102;</mark> What's the Use?</p>
	<p><mark>&#10102;</mark> Wilson</p>
	<p><mark>&#10102;</mark> Winterqueen</p>
	<p><mark>&#10102;</mark> Wombat</p>
	<p><mark>&#10102;</mark> Yarmouth Road</p>

</div>

<% include ./partials/footer.ejs %>