<% include ./partials/header.ejs %>

<p>Welcome to the setlist page</p>

<div class="container-fluid">
	<h3>View Setlist</h3>
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">YEAR <span class="caret"></span></a>
	    <ul class="dropdown-menu">
	        <li><a href="#">2016</a></li>
	        <li><a href="#">2015</a></li>
	       	<li><a href="#">2014</a></li>
	    </ul>
	</li>
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MONTH <span class="caret"></span></a>
	    <ul class="dropdown-menu">
	        <li><a href="#">January</a></li>
	        <li><a href="#">February</a></li>
	       	<li><a href="#">March</a></li>
	    </ul>
	</li>
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DAY <span class="caret"></span></a>
	    <ul class="dropdown-menu">
	        <li><a href="#">1</a></li>
	        <li><a href="#">2</a></li>
	       	<li><a href="#">3</a></li>
	    	</ul>
		</li>
</div>

<% include ./partials/footer.ejs %>