<% include ./partials/header.ejs %>

<p>{{yearSelected}}</p>
<p>{{monthSelected}}</p>
<p>{{daySelected}}</p>

<p>10/31/16</p>

<p>MGM Grand Garden Arena</p>

<p>Las Vegas, NV</p>

<p>SET 1: Carini[1], Your Pet Cat, AC/DC Bag > Free > Possum, What's the Use? > Wombat, Tube, Wolfman's Brother, Ass Handed, Petrichor > Run Like an Antelope[1]</p>

<p>SET 2: Five Years[2], Soul Love[3], Moonage Daydream[4], Starman[3], It Ain't Easy[5], Lady Stardust[6], Star[5], Hang On to Yourself[5], Ziggy Stardust[7], Suffragette City[5], Rock 'n' Roll Suicide[4]</p>

<p>SET 3: 46 Days > Sand > Twist[8], Meatstick > Also Sprach Zarathustra  > Backwards Down the Number Line > Slave to the Traffic Light</p>

<p>ENCORE: Space Oddity</p>

<% include ./partials/footer.ejs %>