/* styles for the body  */
body {
	background-color: #b7b7b7;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}

#yearDiv, #monthDiv, #dayDiv, #fourthDiv {
	display: inline-block;
	margin-right: 8px;
}

/* adjusts the buttons  */
.btn-default {
	margin-top: 6px;
	margin-left: 12px;
}

#goButton {
	height: 25px;
	width: 50px;
	color: white;
	background-color: #31b0d5;
	border-color: #269abc;
	text-align: top center;
	position: relative;
	top:-3px
}

.about {
	margin-top: 25px;
}

/* increases font weight for important content */
.date {
	font-weight: 800;
}

.venue, .city {
	font-weight: 700;
}

#showContainer {
	width: 70%;
	margin: 50px auto;
}

/* styling for hexagons, this is my secret sauce right here */
.hex {
	display: inline-block;
	margin: -16px -8px;
	width: 140px;
	height: 140px;
	background-size: cover;
	-webkit-clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
	clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

mark {
	font-weight: 700;
	background-color: #b7b7b7;
}

.bolder {
	font-weight: 700;
}

p#songlist {
	padding: 0;
	margin: -5px 15px;
}

/* styles body content for multiple pages  */
.uno {
	width: 600px;
	margin: 40px 100px;
}

#songlist {
	margin: 40px 100px;
	width: 300px;
	height: 800px;
}

/* helps space different rows of hexagons  */
.odd {
	margin: -2px -8px -2px 16px;
}

.even {
	margin: 0px 0px 0px 80px;
}

/* styling for images in hexagons */
#a {
	background-image: url("../images/trey1.jpg");
	background-position: center top;
}

#b {
	background-image: url("../images/tab.jpg");
	background-position: center bottom;
}

#c {
	background-image: url("../images/lights1.jpg");
	background-position: center bottom;
}

#d {
	background-image: url("../images/donuts.jpg");
	background-position: center center;
}

#e {
	background-image: url("../images/page1.jpg");
	background-position: center center;
}

#f {
	background-image: url("../images/poster3.jpg");
}

#g {
	background-image: url("../images/nectars.jpg");
}

#h {
	background-image: url("../images/mike1.jpg");
	background-size: 140%;
	background-position: center center;
}

#i {
	background-image: url("../images/album2.jpg");
}

#j {
	background-image: url("../images/gorge.jpg");
	background-position: center center;
}

#k {
	background-image: url("../images/hotdog.jpg");
	background-size: 85%;
	background-position: center center;
}

#l {
	background-image: url("../images/album3.jpg");
}

#m {
	background-image: url("../images/ocelot.jpg");
	background-position: right bottom;
}

#n {
	background-image: url("../images/mike2.jpeg");
	background-position: center center;
}

#o {
	background-image: url("../images/album1.jpg");
	background-position: right center;
}

#p {
	background-image: url("../images/balloons.jpg");
	background-position: center center;
}

#q {
	background-image: url("../images/crowd2.jpg");
}

#r {
	background-image: url("../images/fishman1.jpg");
	background-size: 100%;
	background-position: center center;
}

#s {
	background-image: url("../images/lot.jpg");
	background-position: left center;
}

#t {
	background-image: url("../images/poster1.jpg");
	background-position: center center;
}

#u {
	background-image: url("../images/crowd1.jpg");
}

#v {
	background-image: url("../images/clifford.jpg");
	background-position: center center;
	background-size: 80%;
}

#w {
	background-image: url("../images/rhombus.jpg");
	background-position: center center;
}

#x {
	background-image: url("../images/trey2.jpg");
}

#y {
	background-image: url("../images/tower.jpg");
	background-position: left center;
}

#z {
	background-image: url("../images/redrocks.jpg");
	background-position: center center;
}

#aa {
	background-image: url("../images/fishman2.jpg");
	background-position: right center;
}

#bb {
	background-image: url("../images/lights2.jpeg");
}

#zz {
	background: #b7b7b7);
}
